<template>
    <div>
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li  v-for="link in links"><a :href="link.href">{{link.title}}</a></li>
                </ul>
            </div>
        </nav>
    </div>
</template>

<script>
export default {
   data (){
      return{
          links: [
              {
                  title: "Home",
                  href: "/"
              },{
                  title: "Blog",
                  href: "/blog"
              },
          ]
      }
   }
}
</script>

<style scoped>

</style>
